.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
    row-gap: 16px;
}

.buttons button {
    width: 100%;
    padding: 8px;
    font-size: 32px;
    background: var(--yellow);
    color: var(--background);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}